<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
   
    
    <head>
        <title>SIGN In</title>
   
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Sign In</h1>
        
        <form method="post" th:action="@{/signin}" th:object="${user}" >
            Email: <input type="text" th:field="*{Email}"/>
            <br></br>
            Password: <input type="text" th:field="*{password}"/>
            <br></br>
            <input type="submit" value = "Submit" />
            <a href="/profile">Sign In</a>
            <br></br>
            
        </form>
        
        
        <div></div>
    </body>
</html>
